.login-conatainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content{
    width: 400px;
    background: rgb(202, 180, 180);
    padding: 20px;
    border-radius: 7px;
}
.login-content h3{
    margin-bottom: 30px;
    text-align: center;
}
.login-content .input-field{
    height: 40px;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.login-content .input-field input{
    width: 100%; 
    border: none;
    border-bottom: 2px solid black;
    padding: 3px;
    outline: none;
    font-size: 1em;
    
}
.login-content .input-field label{
    position: absolute;
    bottom: 18px;
    left: 0;
    color: black;
    font-size: 1.1em;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-field input:focus ~ label, .input-field input:valid ~ label{

    transform: translateY(-20px);
}
.google-btn{
    display: block;
    margin: auto;
    border: none;
    background-color: rgb(74, 74, 177);
    padding: 10px;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    font-size: 1.1em;
}