.review-input-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.review-input-box{
    width: 500px;
    background:darkgrey;
    padding: 10px;
    border-radius: 5px;
}
.review-input-box input, textarea{
    width: 100%;
    margin-bottom: 6px;
    padding: 4px;
    
}
.review-input-box input[type="submit"]{
    width: 50%;
}

    