.nav-container{
    height: 50px;  
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo img{
    width: 110px;
}
ul{
    display: flex;
    align-items: center;   
}
ul li {
    margin-right: 9px;
    padding: 7px;
}
ul li a{
    text-decoration: none;
    font-size: 1.1em;
    color: black;
}
ul li :hover{
    color: brown;
    transition: ease(0.2s);
    
}
.login-btn button{
    font-size: 1em;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    padding: 4px 10px ;
    
}