.top-banner{
    background-color: whitesmoke;
}
.banner-btn{
    background-color: rgba(14, 14, 90, 0.671);
    cursor: pointer;
    padding: 6px;
    color: whitesmoke;
    font-size: 1.2em;
    font-weight: 600;
    border: none;
    
    border-radius: 3px;
  }